In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [177]:
df=pd.read_csv('ex1data1.txt',sep=",", header=None)
df.columns=["X","Y"]
df.head()

        X        Y
0  6.1101  17.5920
1  5.5277   9.1302
2  8.5186  13.6620
3  7.0032  11.8540
4  5.8598   6.8233

In [178]:
df['bias']=1

In [179]:
df.head()

        X        Y  bias
0  6.1101  17.5920     1
1  5.5277   9.1302     1
2  8.5186  13.6620     1
3  7.0032  11.8540     1
4  5.8598   6.8233     1

In [180]:
x=df[['bias','X']]
y=df['Y']

Part 3: Cost and Gradient Descent

In [181]:
m=len(y)
print(m)

97

In [182]:
X=np.array(x)

In [183]:
Y=np.array(y)

In [184]:
theta0=0
theta1=0
theta=[[theta0],[theta1]]
print(theta)

[[0], [0]]

In [185]:
len(theta)

2

In [186]:
ans=0

Intial cost computed with thetas intialised to 0

In [187]:
for i in range(97):
    sum=theta0*1 +theta1*X[i][1]
    sum=sum-Y[i]
    prod=sum*sum
    ans=ans+prod

In [188]:
ans/(2*m)

32.072733877455654

In [189]:
alpha=0.01
for i in range(1500):
    ans1=0
    ans2=0
    sum=0
    for j in range(97):
        sum=theta0*1 + theta1*X[j][1]
        sum=sum-Y[j]
        ans1=ans1+sum
    temp0=theta0- (alpha/m)*(ans1)
    sum=0 
    for j in range(97):
         sum=theta0*1+theta1*X[j][1]
         sum=sum-Y[j]
         prod=sum*X[j][1]
         ans2=ans2+prod
    temp1=theta1-(alpha/m)*ans2   
    theta0=temp0
    theta1=temp1

In [190]:
theta0

-3.63029143940436

In [191]:
theta1

1.166362350335582

Using matrix

In [192]:
theta0=0
theta1=0
theta=[[theta0],[theta1]]
print(theta)

[[0], [0]]

In [193]:
X.shape

(97, 2)

In [194]:
Y=Y.reshape(97,1)

In [196]:
h=np.dot(X,theta)
t=np.subtract(h,Y)

In [199]:
np.multiply(t,X[:,1].reshape(97,1))

array([[-107.4888792 ],
       [ -50.46900654],
       [-116.3811132 ],
       [ -83.0159328 ],
       [ -39.98317334],
       [ -99.6391494 ],
       [ -32.50963012],
       [-102.9372    ],
       [ -42.80048794],
       [ -19.29138636],
       [ -18.57233854],
       [-219.61282   ],
       [ -18.0913434 ],
       [ -60.75741672],
       [  -4.03975653],
       [ -18.89729426],
       [ -33.76717392],
       [  -2.87680618],
       [ -23.47961328],
       [ -38.10666244],
       [ -19.42510926],
       [-441.21709   ],
       [ -23.4042963 ],
       [ -32.81664375],
       [ -17.15380425],
       [-428.87691   ],
       [-173.190828  ],
       [ -77.2106919 ],
       [-193.581792  ],
       [-536.135841  ],
       [   6.407928  ],
       [ -39.51399604],
       [-112.2176588 ],
       [ -10.8968841 ],
       [ -53.72194286],
       [ -36.19455082],
       [ -33.32596276],
       [ -19.02105464],
       [-129.861812  ],
       [ -34.92718116],
       [  -3.00931833],
       [ -26.92089875],
       [ -63.0522632 ],
       [ -14.09129222],
       [ -52.67431546],
       [  -7.42151053],
       [ -26.02888574],
       [ -10.6977816 ],
       [ -93.65031   ],
       [  -5.64079464],
       [ -50.89936608],
       [  -9.76404492],
       [ -31.83739515],
       [ -38.00105411],
       [  -9.01347424],
       [   9.03663279],
       [ -15.53240952],
       [ -25.96630674],
       [ -36.89073648],
       [ -51.18273576],
       [ -45.62202276],
       [   3.84713225],
       [-381.511191  ],
       [-179.701032  ],
       [-323.326786  ],
       [ -35.26235064],
       [ -47.64871342],
       [ -79.5889944 ],
       [  -5.59453962],
       [-426.998272  ],
       [ -67.7074664 ],
       [ -29.52796355],
       [  -7.67832608],
       [ -24.14245449],
       [  13.47561083],
       [  -1.94328576],
       [ -29.2836917 ],
       [ -28.7151011 ],
       [ -69.3762124 ],
       [ -10.50960352],
       [  -2.74732328],
       [  -1.05952316],
       [  -4.31304158],
       [ -73.69018845],
       [ -34.81836324],
       [ -36.1257038 ],
       [ -62.40791762],
       [  -5.5635539 ],
       [  -0.8391008 ],
       [ -14.27459116],
       [ -10.53127727],
       [ -32.80606994],
       [ -42.28606503],
       [ -10.54129926],
       [  -1.19872804],
       [-121.2840094 ],
       [  -3.35483914]])